# Maven
target/

# IntelliJ
*.iml
.idea/

# Eclipse
.settings/
.project
.classpath

# OS files
.DS_Store
Thumbs.db

# logs
*.log

# temporary files
*.tmp

# dependency directories
node_modules/

# JetBrains
out/

# Docker
docker/selenium/*.log

# Ignore secrets/config overrides
config/*.secret

